@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <h4>Ao melhor portal de organização para imobiliárias!</h4>

    <p>Um portal inteiramente criado para que sirva de exemplo do que eu posso entregar para sua imobiliária!</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
